@import url(./__button/footer__button.css);
@import url(./__text/footer__text.css);
@import url(./__input/footer__input.css);
@import url(./__ending-title/footer__ending-title.css);
@import url(./__form-button/footer__form-button.css);
@import url(./__secret/footer__secret.css);
@import url(./__ending/footer__ending.css);
@import url(./__ending-answer/footer__ending-answer.css);

.footer {
    position: relative;
    background: url(../../images/footer/background.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 670px;
}